*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}
body{
background:752d4c8g;
color:white;
}
nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:#111827;
}
nav ul{
display:flex;
gap:30px;
list-style:none;
}
.hero{
display:flex;
justify-content:space-around;
align-items:center;
height:80vh;
padding:40px;
}
.hero h1{
font-size:60px;
}
.hero p{
margin:20px 0;
font-size:20px;
}
button{
padding:15px 30px;
background:#ff0055;
border:none;
color:white;
border-radius:10px;
cursor:pointer;
font-size:18px;
transition:.3s;
}
button:hover{
transform:scale(1.05);
}
.hero img{
width:350px;
}
.cards{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:25px;
padding:60px;
}
.card{
background:#1e293b;
padding:30px;
border-radius:15px;
text-align:center;
transition:.3s;
}
.card:hover{
transform:translateY(-10px);
}
footer{
text-align:center;
padding:30px;
background:#111827;
margin-top:50px;
}
